@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=EB+Garamond:wght@500&family=Gulzar&family=Lato:ital,wght@0,400;1,300;1,700&family=Merriweather:ital,wght@1,300&family=PT+Serif&family=Reem+Kufi&family=Roboto+Condensed:ital,wght@0,400;1,300;1,700&display=swap');
*{ 
    margin: 0;
    padding: 0;
font-family:'EB Garamond', serif;
}
body{
    font-family:'EB Garamond', serif;
    line-height: 1.5;
    min-height: 100vh;
    display:grid;
    grid-template-rows: min-content 2fr;
    overflow-x: hidden;
}
section video{
    position: fixed;
    top: 0%;
    left: 0%;
    /* object-fit: cover; */
   opacity: 3;
   width: 100%;
}
.container{
    width: 100%;
    height: 100vh;
    background-position: center;
    align-items: center;
    justify-content: center;
    display: inline-flex;
}
.card{
    margin-top: -60px ;
    width: 70%;
    max-width: 640px;
    height: 400px;
    color: #fff;
    padding: 50px 35px;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0.37);
}
.card-1{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 300px;
    margin-left: -130px; 
  
}
.card-1 .front{
width: 100%;
height: 300px;
background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));;
padding:30px ;
box-sizing: border-box;
transition: .5s;
transform-origin: right;

}
.location{
    font-weight: bold;
    width: 70%;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 27px;
    margin-top: -60px;
    margin-left: 23px;
}
.ani{
    margin-top: -90px;
    margin-left: -80px;
    top: 13%;
    width: 75%;
    padding: 60px 100px;
    z-index: 1;
    display: inline-flex;
    justify-content: space-evenly;
}
.more{
    width: 50%;
    text-align: right;
    cursor: pointer;
    float: right;
    font-size: 24px;
    color: #fff;
    display: block;
    margin-top: -162px;
    margin-right: -18px;
}
.card-2{
    position: relative;
    top: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 300px;
    margin-left: 180px;
    
}
.card-2 .front2{
width: 200px;
height: 300px;
background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
padding:30px ;
box-sizing: border-box;
transition: .5s;
transform-origin: right;
/* transform-style: preserve-3d; */
}
.location2{
    font-weight: bold;
    width: 50%;
    text-align: center;
    float: left;
    color: #fff;
    font-size: 27px;
    margin-top: -60px;
    margin-left: 31px;
}
.ani2{
    margin-top: -90px;
    margin-left: -80px;
    top: 13%;
    width: 75%;
    padding: 60px 100px;
    z-index: 1;
    display: inline-flex;
    justify-content: space-evenly;
}
.more2{
    width: 80%;
    text-align: left;
    cursor: pointer;
    float: left;
    font-size: 24px;
    color: #fff;
    display: block;
    margin-top: -32px;
    margin-right: -18px;
}
#m2{
    width: 30%;
    text-align: right;
    cursor: pointer;
    float: right;
    font-size: 24px;
    color: rgb(94, 28, 110);
    display: flex;
    margin-top: -163px;
    margin-right: -34px;
}
.free{
    border: 2px hidden rgb(100, 66, 66);
    border-color: #fff;
    opacity: 0.8;
    border-radius: 40%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    margin-top: -11px;
    margin-left: -13px;
}
.for{
    border: 2px hidden rgb(100, 66, 66);
    border-color: #fff;
    opacity: 0.8;
    border-radius: 40%;
    font-size: 14px;
    display: block;
    justify-content: center;
    margin-top: -11px;
    margin-left: -13px;
}
.for span{
    font-size: 15px;
}
.ul-1{
    border-bottom: 2px solid #fff;
}
.ul-2{
    border-bottom: 2px solid #fff;
    font-size: 14px;
}
.li-1{
    border-bottom: 2px solid #fff;
}
.li-2{
    border-bottom: 2px solid #fff;
    
}
.li-3{
    border-bottom: 2px solid #fff;
}
/* البطاقات تنقلب بخفة لن تلاحظها */
.card-1 .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-image: linear-gradient( 89.4deg,  rgba(194,0,39,1) 0.8%, rgba(10,35,104,1) 99.4% );
    box-sizing: border-box;
    transform-origin:left ;
    transition: .5s;
    transform: translateX(100%) rotateY(90deg);
}
.anib{
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    text-align: right;
    margin-top: 10px;
    margin-left: 20px;
    top: 43%;
    width: 45%

}
.card-1 .front .bu1{
    width: 90px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 11px;
    margin-left: 22px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 200% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: linear-gradient(
        to right,
        #ed6ea0,
        #ec8c69,
        #f7186a,
        #fbb03b
      );
      box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.card-1 .front .bu1:hover {
        background-position: 100% 0;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }
.card-1 .front .bu1:focus {
    outline: none;
}
.back2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background-image: linear-gradient( 89.4deg,  rgba(194,0,39,1) 0.8%, rgba(10,35,104,1) 99.4% );
    box-sizing: border-box;
    transform-origin:left ;
    transition: .5s;
    /* transform:  rotateY(180deg); */
    /* transform-style: preserve-3d; */
    transform: translateX(100%) rotateY(90deg);
}
.card-2 .front2 .bu2{
    width: 90px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 11px;
    margin-left: 22px;
    height: 45px;
    text-align:center;
    border: none;
    background-size: 200% 100%;
    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    background: linear-gradient(
        to right,
        #ed6ea0,
        #ec8c69,
        #f7186a,
        #fbb03b
      );
      box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.card-2 .front2 .bu2:hover {
        background-position: 100% 0;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
      }
.card-2 .front2 .bu2:focus {
    outline: none;
}
.anib2{
    font-size: 24px;
    color: #fff;
    text-align: right;
    margin-top: 10px;
    margin-left: 20px;
    top: 43%;
    width: 45%
}

.card-1 .back.active{
    transform: translateX(0%) rotateY(0deg);
}
.card-1 .front.active{
    transform: translateX(-100%) rotateY(90deg);
}